* {
  cursor: none !important;
}

body {
  font-family: "Arial", sans-serif;
  background: radial-gradient(circle at center, #1b1f3b, #0a0c22, #000000);
  margin: 0;
}

.custom-cursor {
  position: absolute;
  pointer-events: none;
  width: 60px;
  /* Adjust the size of the wand */
  height: 60px;
  /* Adjust the size of the wand */
  transform: translate(-25%, -25%);
  transition: transform 0.1s ease-out;
  z-index: 10000;
}

/* Sparkle particle style */
.sparkle {
  position: absolute;
  width: 2.5px;
  height: 2.5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  animation: sparkle-animation 0.8s ease-out forwards;
  box-shadow: 0 0 10px 2px rgba(255, 157, 0, 0.5);
  transition: all 0.2s;
  z-index: 9999;
}

/* Sparkle particle animation */
@keyframes sparkle-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}



.container {
  max-width: 1918px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  background: none;
  z-index: 0;
  transition: all 0.3s ease;
}

/* Quiz Question styling  */
.question {
  font-family: 'libre-baskerville-bold', serif;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.question:hover {
  background-color: rgba(0, 0, 0, 0.318);
}

.question input[type="radio"] {
  display: none;
}

.question label {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-family: 'Gabriela', serif;
  font-size: 22px;
  color: yellow;
  text-shadow: 0 0 3px black;
}

.question label:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.question input[type="radio"]:checked+label {
  background: linear-gradient(135deg, #8A2BE2, #E6E6FA);
  color: white;
  border: 2px solid rgba(255, 0, 0, 0.9);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}


/* Buttons */
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #6200ea;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin: 10px 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.theme-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  gap: 15px;
  font-size: 14px;
}

@media (max-width: 600px) {
  .theme-buttons {
    flex-wrap: wrap;
  }
}

.theme-buttons .theme-button {
  padding: 7px;
  text-align: center;
}

/* End THEME Options*/
h1 {
  text-align: center;
  font-size: 2.5em;
  color: #d9d504;
}

@keyframes lightSweep {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.light-sweep {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.05));
  background-size: 200%;
  animation: lightSweep 4s infinite;
  z-index: 1;
  pointer-events: none;
}

.question:hover {
  background-color: rgba(0, 0, 0, 0.318);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 266px;
  overflow: hidden;
  z-index: 2;
}

video {
  width: 100%;
  opacity: 70%;
  height: auto;
  filter: brightness(130%);
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.questP {
  font-family: 'Cinzel Decorative', serif;
  color: #fffae6;
  font-size: 2.5rem;
  margin: 1% 1%;
  color: #fff;
  text-shadow: 0px 0px 2px black;
  text-align: center;
}

h3 {
  font-family: 'medievalsharp-regular', serif;
  font-size: 2rem;
  margin-top: auto;
}

label {
  font-family: 'Gabriela', serif;
  font-size: 22px;
  color: yellow;
  text-shadow: 0 0 3px black;
}

.overlay-text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: 'Cinzel Decorative', serif;
  color: #fffae6;
  font-size: 53px;
  font-weight: bold;
  text-align: center;
  text-shadow:
    0 0 10px rgba(255, 255, 0, 0.8),
    0 0 20px rgba(255, 255, 0, 0.6),
    0 0 30px rgba(255, 255, 0, 0.4);
}

.spell-of-the-day-container {
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 223, 0, 0.5);
  max-width: 600px; /* Adjust as needed */
}

.spell-of-the-day-container h2 {
  color: #f7d354;
  font-family: 'Cinzel Decorative', serif;
  font-size: 2em;
  margin-bottom: 20px;
}

.reveal-spell-btn {
  background-color: #6200ea;
  color: white;
  font-family: 'Cinzel Decorative', serif;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.reveal-spell-btn:hover {
  background-color: #3700b3;
  transform: translateY(-2px);
}

.spell-of-the-day {
  margin-top: 20px;
}

.spell-text {
  font-family: 'MedievalSharp', cursive;
  font-size: 1.5em;
  color: #f7d354;
  text-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
  animation: spellGlow 2s infinite alternate;
}

@keyframes spellGlow {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
  }
  to {
    text-shadow: 0 0 15px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.5);
  }
}

button:hover {
  background-color: #33dd08;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/*result card*/
.result {
  margin-top: 20px;
  text-align: center;
  font-size: 1.8em;
  padding: 30px;
  border: 3px solid #8b4513;
  border-radius: 15px;
  background: radial-gradient(circle, #3b3b3b 0%, #1a1a1a 100%);
  color: #f4f4f4;
  box-shadow: 0 0 20px rgba(255, 223, 0, 0.7), 0 0 40px rgba(255, 223, 0, 0.5);
  position: relative;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.result:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(255, 223, 0, 1), 0 0 60px rgba(255, 223, 0, 0.8);
}

.result::before,
.result::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f4f4f4;
  border-radius: 50%;
  animation: glow 2s infinite alternate;
}

.result::before {
  top: 10px;
  left: 10px;
}

.result::after {
  bottom: 10px;
  right: 10px;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 223, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 20px rgba(255, 223, 0, 1);
  }
}

/*end of result card*/

#houseImage {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.spell-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 262px 0px;
  padding: 20px;
}

.logo-img {
  width: 33%;
  border-radius: 10px;
}

.houses-img {
  width: 33%;
  border-radius: 10px;
}

.spell-internal-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#generateSpellBtn {
  background-color: #1f1f1f;
  color: white;
  padding: 15px 32px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s ease-out, transform 0.4s ease-out;
}

#generateSpellBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #170a2c, #00c8ff54, #6200ea5d);
  z-index: -1;
  transition: transform 0.4s ease-out;
  transform: scaleX(0);
  transform-origin: left;
}

#generateSpellBtn:hover::before {
  transform: scaleX(1);
}

#generateSpellBtn:hover {
  color: #f7f7f7;
  transform: scale(1.05);
  /* Adds scaling on hover */
}

.spell-box {
  margin-top: 30px;
  font-size: 32px;
  height: 50px;
  background-color: black;
  border-radius: 12px;
  padding: 10px 20px;
  color: white;
  text-align: center;
  box-shadow: 0 0 8px 3px rgba(235, 124, 20, 0.6);

  transition: box-shadow 0.4s ease-in-out;
}

/* --------- Footer section ----------- */
.footer {
  background-color: hsla(20, 100%, 2%, 0.984);
  /* Dark color to match the Hogwarts theme */
  color: burlywood;
  /* Light text color */
  text-align: center;
  padding: 30px;
  position: relative;
  bottom: 0;
  margin-top: 30px;
}

.footer .footer-top {
  border-bottom: 2px solid goldenrod;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 5px 5px;
  align-content: center;
  justify-content: space-evenly;
}

.footer .footer-top .img-icon {
  width: 310px;
  height: 250px;
  background-image: url(assests/images/sorting-hat.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer .footer-top p {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer a {
  color: burlywood;
  text-decoration: none;
  font-size: 20px;
}

.footer .footer-top .links a {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .footer-top .social-links a {
  margin: 0 10px;
}

.footer .footer-top .social-links {
  margin-bottom: 15px;
}

.footer .footer-top .btn {
  max-width: 120px;
  font-size: 16px;
  font-weight: bold;
  color: #1b0e08;
  background-color: burlywood;
  margin-top: 15px;
}

.footer a:hover {
  color: #f39c12;
  /* A highlight color for hover */
}

.footer .btn:hover {
  background-color: #f39c12;
}

.footer i {
  font-size: 20px;
}

.footer .footer-top .newsletter input[type="email"] {
  width: 100%;
  max-width: 300px;
  /* Maximum width for larger screens */
  padding: 10px;
  font-size: 16px;
  color: #1b0e08;
  /* Dark text color */
  background-color: #f4f4f4;
  /* Light background color */
  border: 2px solid burlywood;
  /* Match with the footer theme */
  border-radius: 5px;
  /* Rounded edges */
  margin-top: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.footer .footer-top .newsletter input[type="email"]:focus {
  outline: none;
  border-color: #f39c12;
  /* Highlight border on focus */
  box-shadow: 0 0 5px rgba(243, 156, 18, 0.5);
  /* Add shadow on focus */
}

.footer .footer-bottom {
  align-content: center;
  text-align: center;
}


/* ------------- Media queries --------------- */
@media (max-width: 768px) {

  .logo-img,
  .houses-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer .footer-top {
    grid-template-columns: 1fr;
  }

  .footer .footer-top .img-icon {
    margin-bottom: 20px;
  }

  .footer .footer-top .social-links a {
    margin: 0 5px;
  }

  .footer .footer-top p {
    font-size: 18px;
  }

  .footer .footer-top .newsletter input[type="email"] {
    max-width: 100%;
    font-size: 14px;
  }

  .footer .footer-top .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-top .newsletter .btn {
    margin: 15px 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer .footer-top {
    grid-template-columns: repeat(2, auto);
  }

  .footer .footer-top .links a {
    margin-bottom: 15px;
  }

  .footer .footer-top p {
    font-size: 18px;
  }
}

.theme-buttons button {
  color: white !important; /* Ensure text always stays white */
  transition: background-color 0.3s, transform 0.3s;
}

.theme-buttons button:hover,
.theme-buttons button:active {
  transform: scale(1.05);
}

@media (max-width: 1300px) {
  .spell-of-the-day-container {
    margin: 20px auto;
    padding: 10px;
  }
}

/*FAB 
*/
.to-top {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 20px;
  pointer-events: none;
  border:#1f1f1f;
   width: auto;
  height:auto;
  color: whitesmoke;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  text-decoration: none;
  opacity: 0;
  transition: all .4s;
}

.to-top img {
  display : block;
}
.to-top .fa-arrow-up {
  position: absolute;
  
}

.to-top.active {
  
cursor: pointer;
 pointer-events: auto;
 opacity:1
}   